<% provide(:title, 'About') %>
<div class="large-9 columns">
	<h3 class="subheader">About this food app</h3>
	<p>
		The food app is something I want to make for myself to help me decide what to make for dinner. That's about it. Well, there's more to come in the future but in the meantime there's a database of recipes that I know I like and the robot will tell me what to eat. 
	</p>
	<h4 class="subheader">Down the road</h4>
	<p>
		I will implement something that will give me suggestions base on the ingredients I have on hand, taking into consideration what I ate yesterday and the day before, what I traditionally eat on Thursdays and whatever other criteria I come up with between now and then. 
	</p>
	<p>
		For now this thing is just a project to get me back into the Rails groove again and it'll probably stay here for good as virtually every recipe site has this functionality already. But who knows...
	</p>
</div>