<div class="large-12 columns">
	<!-- Test for signed in user and remove this if signed in -->
	<div class="panel text-center" id="home-panel">
		<h1>Welcome to the Food App!</h1>
		<p>
			This is such a great app! The Food App is your own personal decision maker. You'll never not know what to eat again!
		</p>
		<%= link_to "Try it out!", '#', :class => 'button' %>
	</div>
</div>
